body {
  background-color: #ffb99a;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

button {
  font-size: 1.3rem;
  width: 100px;
  height: 50px;
  border-radius: 8px;
  background-image: linear-gradient(#ff6464, #851d41);
  color: #fff;
  border: none;
  font-weight: 200;
}

button:disabled {
  background-image: linear-gradient(#ffb99a, #ff6464);
}

figcaption {
  font-family: 'Sacramento', cursive;
  font-size: 1.5rem;
}

footer {
  right: 2%;
  font-size: 0.8rem;
  font-weight: 200;
  position: fixed;
  bottom: 0;
}

.header {
  color: #db3056;
  font-size: 5rem;
  font-family: 'Sacramento', cursive;
}

.message {
  font-size: 1.3rem;
  font-weight: 200;
}

.board {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20% 3%;
}

.dice {
  flex: auto;
}

.dice img {
  max-width: 100%;
}

.second-won::after {
  content: "2nd has won 🚩";
}

.first-won::before {
  content: "🚩1st has won";
}

.draw::before {
  content: "🚩Draw 🚩";
}

.start::after {
  content: "Dice is fun!"
}

.wait::after {
  content: "Wait...";
}

.dice0::after {
  content: "Push Button to play!";
}

.dice1::after {
  content: "🎲";
}

.dice2::after {
  content: "🎲🎲";
}

.dice3::after {
  content: "🎲🎲🎲";
}

.dice4::after {
  content: "🎲🎲🎲🎲";
}

.dice5::after {
  content: "🎲🎲🎲🎲🎲";
}

.dice6::after {
  content: "🎲🎲🎲🎲🎲🎲";
}

.dice7::after {
  content: "🎲🎲🎲🎲🎲🎲🎲";
}

.dice8::after {
  content: "🎲🎲🎲🎲🎲🎲🎲🎲";
}

.dice9::after {
  content: "🎲🎲🎲🎲🎲🎲🎲🎲🎲";
}

.dice10::after {
  content: "🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲";
}

.cta {
  padding: 0 15% 3%;
}


@media screen and (max-width: 576px) {
  .dice img {
    max-width: 100px;
  }

  .header {
    font-size: 5rem;
  }

  .message {
    font-size: 2rem;
  }

  .board {
    padding: 0 0 3%;
  }

  figcaption {
    font-size: 2rem;
  }

  button {
    font-size: 1rem;
    width: 80px;
    height: 40px;
  }
}
